body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

.category {
    position: sticky;
    top: 70px;
    background: #e5e7eb;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}

.gallery {
    margin-top: 120px;
    margin-bottom: 60px;
    padding: 20px;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 220px;
    padding: 15px;
    margin: 15px;
    border: 2px solid #ccc;

    background: #f8fafc;
    text-align: center;

    position: relative;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
}

.image-box:hover .overlay {
    opacity: 1;
}

.price {
    display: inline-block;
    margin-top: 8px;
    color: green;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 10px;
}
