body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.app {
    background: white;
    padding: 30px;
    width: 450px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

input,
button {
    padding: 5px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-bottom: 5px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
