body {
    font-family: Arial;
    margin: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

select,
input {
    padding: 5px;
    margin: 10px;
}

table {
    width: 100%;
    border: 1px solid rgb(44, 43, 43);
    background-color: white;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

select,
input {
    border-radius: 5px;
}

select:hover,
input:hover {
    background-color: rgb(227, 224, 139);
}
